.example-card {
    max-width: 50ch;
    max-height: 40ch;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
  }